.card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job-card {
    min-width: 350px;
    width: 20vw;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    margin: 20px;
}

.name {
    width: fit-content;
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 5px solid #ffce00;
    margin-bottom: 10px;
    font-weight: bold;
}

.grad-date {
    font-size: 0.8rem;
    color: grey;
    font-style: italic;
    margin-bottom: 10px;
}

.job-before, .job-after, .will-mentor, .contact {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0;
}

form {
    display:grid;
    width: 30vw;
    min-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    grid-template: auto auto auto auto / 200px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    padding: 20px;
}

.label {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.input {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    line-height: 1.2rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.button {
    background-color: #ffce00;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #ffce00;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 250ms;
    grid-column: auto / span 2;
    width: 200px;
    margin: 30px auto 10px;
}

.button:hover {
    background-color: rgba(0,0,0,0.85);
}

@media (min-width:500px){
    form {
        grid-gap: 1rem;
        align-items: center;
    }
    
    .input {
        margin-bottom: 0;
    }
}